
@media screen and (max-width: 768px) {
	.icono img{
		width: fit-content
	}
}

body{
	color: 		 #CF0A0A;
}

body, main{
	background-color: #FCFFE7;
}

.input-group, .input-group i{
	color: #fff;
}

.navbar-nav i{
	font-size: 1em;
	color: #fff;
}

.section-header{
	background-color: #EB6440;
	color: #fff;
}

p{
	font-family: 'Roboto', sans-serif;
}

.titulo img{
	height: 1.5em;
	width: 1.5em;
}

.section-mediosPagos{ 
	background-color: #fff;
}



.mediosPago-img img{
	height: auto;
	width: auto;
}

a{
	color: #fff;
}

a:hover, .info a:hover{
	color: #fff;
	text-decoration: none;
}

.info{
	background-color: #fff;
	color: #678983;
}




i{
	color:#678983;
	font-size: 2em;
}

.card{
	color:#004A82;
}

.card img{
	height: 200px;
}

.col, .row{
	padding-right: 0 !important;
	padding-left :  0 !important;
	margin-right: 0 !important;
	margin-left :  0 !important;
}



.card-body a{
	background:  #0b3954;
}

.container{
	width: 70%;
}



.icono{
	width: 3rem;
	height: 3rem;
}

#navbarSupportedContent{
	width: 70%;
}

.titulo{
	font-family: 'Quicksand', sans-serif !important;
}



.carousel-item img{
	height: -webkit-fill-available;
}



.carousel-item{
	height: 25em;
}

.logo{
	color: #E8F3D6;
}

nav a{
	color:#fff !important;
}

nav, footer{
	background-color:#181D31;
}


p.card-text{
	min-height: 4em;
}

nav.navbar{
	padding-left: 15% !important;
	padding-right: 15% !important;
}


a{
	color: #E8F3D6;
}

.active a{
	color: #FCF9BE !important;
}

.info a{
	color: #26A1FF;
}

footer{
	padding: 1rem 15% 1.5rem 15% !important;
	color: white;
	font-family: 'Lato', sans-serif;
	}

table tr:first-child td{
	color: #D1E3EF;
}

footer table{
	width: 33%;
	line-height: 1.8rem;
}