
.catalogo-section{
	color: #2B3467 ;
}

.catalogo-section .btn{
	width: fit-content;
	border: 1px solid #2B3467 ;
}

.catalogo-section .btn:hover{
	background-color: #2B3467 ;
	color: #fff;
}

.info{
	font-family: 'Lato', sans-serif;
	width: 100%;
}

iframe{
	height: inherit;
	width: inherit;
}








.subtitulo{
	/* font-family: 'Playfair Display', serif; */
	font-family: 'Martian Mono', monospace;
	color: #EB455F;
}




.section-cards{
	background-color: #FFE9B1;
}




.card{
	width: 18rem;
}



.text{
	margin:  0;
}

@media all and (max-width: 768px) {
	.card{
		width: 100% !important;
		margin-top: 1rem;
	}
}


.item{
	height: fit-content;
}

.item i, .item div{
	height: fit-content;
}

.item{
	height: 7em;
}

.icon-envios i{
	font-size: 4em;
	color: teal;
}

.titulo-envio{
	font-weight: 700;
}