img{
    height: 15em;
    width: 15em;
}

main{
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.precio{
    font-size: 2em;
    color: #68B984;
}

.boton-carrito{
    border-radius: 2em;
    height: fit-content;
    border: solid 1px #68B984;
    color: #68B984;
}

.boton-carrito i{
    font-size: 1.5em;
}

.boton-carrito:hover{
    cursor: pointer;
    background-color: #68B984;
    color: #fff;
}

.bold{
    font-weight: 700;
}

.nombre-producto{
    font-size: 1.1em;
}

.producto-similar{
    cursor: pointer;
}