
.card-header .btn{
	border: 2px solid #e76f51;
	border-color: #e76f51;
}

.card-header p{
	color:  #e76f51;
}

.card-header:hover{
	
	background: #e76f51;
}

.card-header:hover p{
	color: #fff !important;
}